//common form styles
.form-style {
  border: 1px solid #e1e1e1;
  padding: 1em;
  border-radius: 8px;

  //top section
  .form-top-avatar {
    img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  .form-lable-txt {
    font-weight: 600;
    color: #333;
    font-size: large;
  }

  .button-section {
    display: flex;
    justify-content: flex-end;
  }

  .form-input-text-bold {
    font-weight: 600;
  }
}

.required-span {
  font-weight: 600;
  color: red;
}

//navbar styles
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  height: auto;
  width: 100%;
  //background: var(--white1);
  //display: flex;
  //align-items: center;
  //justify-content: space-between;
  z-index: 999;
  //padding: 0 16px;
  #brand-logo {
    font-size: 34px;
  }

  .navbar {
    width: 100%;
    //height: 100%;
  }

  #app-navbar {
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #243b55,
      #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//authentication screens (signup and signin)
.authentication_wrapper {
  /* The image used */
  background-image: url("");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: #eee;
  }
  .container .card {
    height: 500px;
    width: 800px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
  .container .card .form {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .container .card .left-side {
    width: 60%;
    background-color: #fff;
    height: 100%;
  }
  .sign-up {
  }
  .main {
    display: none;
  }
  .main_login {
    display: none;
  }
  .active {
    display: block !important;
  }
  .d-none {
    display: none;
  }
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .heading h2 {
    color: #141e30;
    font-weight: 400 !important;
  }
  .social {
    display: flex;
    justify-content: center;
  }
  .social span {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 3px;
    cursor: pointer;
  }
  .social span i {
    color: #000;
    font-size: 15px;
    text-align: center;
    margin-top: 3px;
  }
  .or {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
  }
  .input-text {
    padding: 0 40px;
    margin: 20px 0;
    position: relative;
  }
  input[type="text"] {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    height: 40px;
    border: none;
    outline: 0;
    border: 1px solid #c6d9df;
    background-color: #f7f8f9;
    border-radius: 5px;
    font-weight: 100 !important;
  }
  input[type="password"] {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    height: 40px;
    border: none;
    outline: 0;
    border: 1px solid #c6d9df;
    background-color: #f7f8f9;
    border-radius: 5px;
    padding-right: 30px;
  }
  select {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    height: 40px;
    border: none;
    outline: 0;
    border: 1px solid #c6d9df;
    background-color: #f7f8f9;
    border-radius: 5px;
  }
  .fa-eye-slash {
    position: absolute;
    top: 13px;
    right: 50px;
    cursor: pointer;
  }
  .fa-eye {
    position: absolute;
    top: 13px;
    right: 50px;
    cursor: pointer;
  }
  .terms {
    position: relative;
    display: flex;
    padding-left: 40px;
    align-items: center;

    p {
      padding: 0 !important;
      margin: 0px 5px !important;
    }
  }
  .terms span {
    margin-right: 5px;
    margin-top: -2px;
    height: 20px;
    width: 20px;
    background-color: #141e30;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .terms span i {
    color: #fff;
  }
  .terms p {
    font-size: 12px;
    font-weight: 700;
  }
  .terms p a {
    color: red;
    text-decoration: none;
  }
  .buttons {
    margin-top: 30px;
    padding: 0 40px;
    display: flex;
    gap: 20px;
  }
  .buttons button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: 0;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
  }
  .buttons button:nth-child(1) {
    background-color: #141e30;
    color: #fff;
  }
  .buttons button:nth-child(2) {
    background-color: #fff;
    color: #141e30;
    border: 1px solid #141e30;
  }
  .first {
    margin-top: 70px;
  }
  .final-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }
  .final-submit p {
    font-size: 14px;
    font-weight: 800;
  }
  .warning {
    border: 1px solid red !important;
  }
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards,
      scale 0.3s ease-in-out 0.9s both;
  }
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }
  .container .card .right-side {
    width: 40%;
    background-color: #000;
    height: 100%;
  }
  .cover_image {
    position: relative;
  }
  .cover_image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  @media (max-width: 750px) {
    .container .card {
      max-width: 350px;
    }
    .container .card .right-side {
      display: none;
    }
    .container .card .left-side {
      width: 100%;
    }
  }
}

//profile page css
.profile-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .full-row {
    height: auto;
    .each-col {
      border: 1px solid black;
      position: relative;
      padding: 0em !important;
      .details-section-wrapper {
        margin: 1em 0em !important;
        .profile-head {
          transform: translateY(5rem);
        }

        .cover {
          background-image: url("https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.profile-page-wrapper {
  margin: 4em 4%;
}

.profile-top-wrapper {
  .profile-head {
    transform: translateY(5rem);
  }

  .cover {
    background-image: url(https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.create-post-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 4em;
}

.file-uploader-wrapper {
  .file-card {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #cbd5e0;
    background-color: #edf2f7;
    min-width: 380px;
    min-height: 150px;

    .file-inputs {
      position: relative;
      margin-bottom: 1.5em;

      input {
        position: relative;
        text-align: right;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        height: 46px;
        max-width: 200px;
      }

      button {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        background-color: #141e30;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        outline: none;
        // padding: 1em;
        transition: background-color 0.4s;
        box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);

        i {
          width: 1.5em;
          height: 1.5em;
          padding: 0.4em;
          background-color: #fff;
          color: #141e30;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.8em;
          font-size: 0.8em;
        }
      }

      &:hover {
        button {
          background-color: #141e30;
        }
      }
    }
  }

  .main {
    font-weight: bold;
    margin-bottom: 0.4em;
  }

  .info {
    font-size: 0.8rem;
  }

  .file-showing {
    display: flex;
    border: 3px dashed #cbd5e0;
    padding: 1em;
    margin: 0.5em 0em;
    width: 100%;
    max-height: 310px;
    overflow-x: scroll;
    .image-wrapper {
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin: 0 0.5em;
      img {
        height: 250px;
      }

      .icon-section {
        position: absolute;
        top: 1em;
        right: 1em;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #333;
      }
    }

    //while uploading
    .image-wrapper-uploading {
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin: 0 0.5em;
      opacity: 0.5;
      img {
        height: 250px;
      }

      .icon-section {
        position: absolute;
        top: 40%;
        right: 40%;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #333;
      }
    }
  }
}
